body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    background-color: wheat;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    background: #ffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
h1{
    text-align: center;
    color: #333;
    text-decoration:bold;
}
p{
    color: #333;
    font-weight: bold
}
.question
{
    margin: 20px;
}
button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background: #0056b3;
}